@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scroll-behavior: smooth ;
}

header{
  #background-image: url("svg/nav.svg");
}

.rotating-ccw {
  animation: rotation-cw 4s infinite linear;
}
@keyframes rotation-cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating-cw {
  animation: rotation-ccw 5s infinite linear;
}
@keyframes rotation-ccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}